body{
    background-color:#dae0fa;
    
}

.art-wall{
    margin-top: 20px;
    overflow: hidden;
    margin-bottom:10px;
padding: 20px;
}


.slide{
  display: flex;
  justify-content: center;
  align-items: center;
  color: peru;
  text-decoration: underline;
  margin-top: 5px;
  padding: 15px;
  font-weight: 600;
}

.slide-img{
    background-color:#dedfdf ;
}

/* FOOTER DESIGN */
footer{
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    height: 50%;
    background-color: #51575c;
    border-top-left-radius: 50px;
    padding: 10px 0 10px;
    font-size: 13px;
    line-height: 20px;
    
  }

  h6{
    color: #d2d6ea;
    margin-top: 3rem;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

 
  form textarea{
    width: 90%;
    cursor: pointer;
  }

  .site-map li{
    list-style:none ;
    color: white;
    font-size: 14px;
    margin-top: 3px;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .site-map a{
   color: white;
   text-decoration: none;
   justify-content: space-around;
   align-items: center;
   display: flex;
  }

  form label{
    color: peru;
    font-weight: 200;

  }

  form input{
  width: 100%;
  }

  #submit{
    width: 30%;
    background-color: peru;
    color: white;
    border-color: peru;
    border-radius: 4px;
  }

  form textarea{
    width: 100%;
  }
  form{
    display: block;
  }

 
.footerbtm{
width: 100%;
height: 10%;
background-color: #dae0fa;
}

.footerbtm p{
font-size: 14px;
display: flex;
justify-content: center;
align-items: center;
}

/* .logo-text{
margin-top: 0;
} */
 
  .col img{
    height: 12rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .col p{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
  }
.row-content{
width: 85%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;

}

.col{
flex-basis: 20%;
padding: 10px;
line-height: 20px;
}
  
/* FOOTER DESIGN */


 /* Extra small devices (portrait phones, less than 576px)  */
 @media (max-width: 575.98px) {
  footer{
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    background-color: #51575c;
    border-top-left-radius: 50px;
    padding: 10px 0 10px;
    font-size: 13px;
    line-height: 20px;
    
  } 
  }

  /* Small devices (landscape phones, less than 768px)  */
@media (max-width: 767.98px) { 
  footer{
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    background-color: #51575c;
    border-top-left-radius: 50px;
    padding: 10px 0 10px;
    font-size: 13px;
    line-height: 20px;
    
  }
  #submit{
    width: 50%;
    font-size: 14px;
    background-color: peru;
    color: white;
    border-color: peru;
    border-radius: 4px;
  }
}

/* Medium devices (tablets, less than 992px)  */
  @media (max-width: 991.98px) { 
    footer{
      position: absolute;
      margin-top: 10rem;
      width: 100%;
      height: 100%;
      background-color: #51575c;
      border-top-left-radius: 50px;
      padding: 10px 0 10px;
      font-size: 13px;
      line-height: 20px;
      
    }  
    #submit{
      width: 50%;
      font-size: 14px;
      background-color: peru;
      color: white;
      border-color: peru;
      border-radius: 4px;
    }
  }

   /* Large devices (desktops, less than 1200px)  */
 @media (max-width: 1199.98px) { 
  footer{
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    height: auto;
    background-color: #51575c;
    border-top-left-radius: 50px;
    padding: 10px 0 10px;
    font-size: 13px;
    line-height: 20px;
    
  }  
  #submit{
    width: 50%;
    font-size: 14px;
    background-color: peru;
    color: white;
    border-color: peru;
    border-radius: 4px;
  }
 }